@import url("theme.css");

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.rst-content .field-list ul {
    margin-bottom: 0;
}

.rst-content table.docutils th,
.rst-content table.field-list th {
    padding: 4px 16px;
    margin: 4px 0;
    border-bottom: 1px solid #e0e0e0;
}

.rst-content table.docutils tbody>tr:last-child th {
    border-bottom-width: 0;
}

.rst-content table.field-list td {
    padding: 4px 0;
    margin: 4px 0;
    border-bottom: 1px solid #e0e0e0;
}

.rst-content .section table ul {
    margin-bottom: 0;
}

.rst-content table.docutils td {
    vertical-align: top;
}

.textmarker {
    text-decoration: underline;
}

.textmarker.validation {
    text-decoration-color: #9c27b0;
}

.textmarker.management {
    text-decoration-color: #ff9800;
}

.textmarker.elicitation {
    text-decoration-color: #4caf50;
}

.textmarker.documentation {
    text-decoration-color: #03a9f4;
}

.textmarker.negotiation {
    text-decoration-color: #bdbdbd;
}

.strike {
    text-decoration: line-through;
}

.task {
    font-size: 0.9em;
    font-style: italic;
}
