#diagram {
    display: flex;
}

.area {
    stroke-width: 1.5px;
}

.axis {
    font-size: 11px;
}

.axis-label {
    font-size: 12px;
    fill: #757575;
    text-anchor: middle;
}

.dot-label {
    font-size: 22px;
    fill: #000;
    fill-opacity: 0;
    stroke: #00e676;
    stroke-opacity: 0;
    stroke-width: .1;
}

.radar-circle {
    stroke: #9e9e9e;
    stroke-width: 0.3px;
    fill: #607d8b;
    fill-opacity: 0.015;
}

.radar-circle-label {
    font-size: 11px;
    fill: #616161;
}

.legend {
    fill: #616161;
    cursor: pointer;
}

.legend-title {
    font-size: 13px;
}

.line {
    stroke: #9e9e9e;
    stroke-width: 1px;
}

.radar-chart-serie {
    stroke-width: 1px;
}

.page-footer {
    background-color: #00796b;
}