body {
    margin: 50px;
    font-family: Arial;
}

h2 {
    clear: both;
}

svg {
    float: left;
    border: 1px solid black;
    margin-bottom: 20px;
    position: relative;
}

#config_panel {
    float: left;
    width: 500px;
    height: 580px;
    overflow: auto;
    border: 1px solid black;
    font-size: 9pt;
    margin-left: 5px;
    padding: 10px;
    background: #eee;
}

#clusterOverlay {
    fill: #000;
    fill-opacity: .75;
}
#clusterOverlayText {
    text-anchor: middle;
    fill: #fff;
}

.overlay > * {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.settings > * {
    margin-bottom: 12px;
}

.legend {
    display: flex;
}

.label {
    font-family: monospace;
    font-size: 12px;
    fill: #9e9e9e;
}

.node {
    font-size: 11px;
    fill: #757575;
}

.node:hover {
    fill: #000;
}

.link {
    stroke: #607d8b;
    stroke-opacity: 0.4;
    fill: none;
    pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
    font-weight: 700;
}

.node--source {
    fill: #2ca02c;
}

.link--inheritance,
.link--aggregation,
.link--usage {
    stroke-opacity: 1;
    stroke-width: 2px;
}

.link--inheritance,
.node-CIG {
    stroke: #2196f3;
}

.link--aggregation,
.node-CAG {
    stroke: #4caf50;
}

.link--usage,
.node-CUG {
    stroke: #ff9800;
}

.cig {
    font-family: monospace;
    color: #2196f3;
}

.cag {
    font-family: monospace;
    color: #4caf50;
}

.cug {
    font-family: monospace;
    color: #ff9800;
}