[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
pyinstaller = "==3.4"
pyside2 = "*"
fbs = "*"
autopep8 = "*"
numpy = "*"
scikit-learn = "*"
pandas = "*"
jupyter = "*"

[requires]
python_version = "3.7"
